<div class="bs-callout bs-callout-danger" 
id="callout-inputgroup-text-input-only"> 
  <h4>Jerome Hardaway</h4>
  <h5>Executive Directory @ <a targer="_" href="http://www.vetswhocode.io/">VetsWhoCode</a></h5>
  <h5>jerome@frago.us</h5> 
  
<p class="medium" style="line-height:20px"><blockquote>&ldquo;Joe has an impeccable talent for teaching and a vast knowledge for JavaScript, but he also has something that other teachers lack: passion. I have never in all my years seen a person more passionate about the craft of code and digital literacy of individuals in my life. He has mentored several of our troops in Vets Who Code and they are always grateful for his time. He has a keen awareness of understanding the student so that he can educate them in a manner that they will understand, which is far more important than any curriculum. Joe is an asset to any company that is looking for a talented team player, do not hesitate to work with him.&rdquo;</blockquote></p> 
<p>MAY 14th 2016
</div>

<div class="bs-callout bs-callout-danger" 
id="callout-inputgroup-text-input-only"> 
<h4>Alex Christison</h4> 
  <h5>Product Manager | Agile Scrum Professional</h5>
  <h5>alexchristison@gmail.com </h5>
<p class="medium" style="line-height:20px"><blockquote>&ldquo;Working with Joe is a pleasure. He unflinchingly tackles any language, task or situation we have encountered with enthusiasm and a smile. Furthermore his passion and vision for data visualization is something I encourage anyone with an interest to discuss with him if given the opportunity. Speaking for myself, and everyone I've encountered, people genuinely enjoy working with Joe and I look forward to collaborating on future projects&rdquo;</blockquote> </p> 
<p>APR 1st 2015
</div>


<div class="bs-callout bs-callout-danger" 
id="callout-inputgroup-text-input-only"> 
<h4>Kazue Anan</h4> 
  <h5>zakscloset@gmail.com </h5>
<p class="medium" style="line-height:20px"><blockquote>&ldquo;WHOAAAA! Your code is beautiful!!!!! Thank you sooooo much for taking the time on this! This is amazing. I'd be honored if you could go over this on Thursday, and I'd even appreciate if you could compare against my code to identify the good vs. bad coding practices!&rdquo;</blockquote> </p> 
<p>NOV 30th 2015
</div>




