	
	<div class="row">
			<div class="col-md-3" style="text-align:center" ><img src="images/profile.jpg" id="profilepic" style="width:150px"></div>
			<div class="col-md-9">
				<p id="into>">Hello! I'm a freelance web developer, specializing in data visualization\application development using D3 and Angular, but I'm also currently investigating React as well with the hope of incorporating it's functionality into existing projects.  My goal is to help clients turn raw data into interactive and interesting stories in order to help reveal important insights.  At least that is my hope....<span><i class="fa fa-smile-o fa-2x" aria-hidden="true"></i></span>
				</p>
				<ul>
					<li><img src="images/d3js.jpg" style="width:96px"></li>
					<li><img src="images/angular.jpg"></li>
					<li><img src="images/github.jpg" style="width:96px"></li>
				</ul>
			</div>
	</div><!--row-->
