
	
		<div class="jumbotron">
			<p class="lead">D3 + Javascript = Data Visualization Made Possible...</p>
		</div><!--jumbotron-->
		<div class="container">
			<h2>D3 Projects</h2>
			<div class="row">	
				<div class="col-md-4">
					<div class="well project">
						<div class="row well-header">
							<h3 style="display:inline-block">Renewable Energy</h3> 
							<div class="code">
							<span> <a href="https://github.com/jkeohan/d3dashboards" target="_blank" class="btn btn-success" role="button">GitHub</a></span>
							<span> <a href="http://bl.ocks.org/jkeohan/raw/974c071a5d4d0185a846/" target="_blank" class="btn btn-success" role="button">Blocks</a></span>
							</div><!--code-->
						</div>			
					<br>
					<a href="renewable" target="_blank"><img src="images/oecd.jpg" alt="D3" style="width:100%"></a>
					</div>
				</div>

				<div class="col-md-4">
					<div class="well project">
							<div class="row well-header">
								<h3 style="display:inline-block">NYC Air Quality</h3> 
								<div class="code">
								<span> <a href="https://github.com/jkeohan/nyccas" target="_blank" class="btn btn-success" role="button">GitHub</a></span>
									<span> <a href="http://bl.ocks.org/jkeohan/raw/ecd7167393230b8c7611/" target="_blank" class="btn btn-success" role="button">Blocks</a></span>
								</div><!--code-->
							</div><!--well-header-->
							<br>
							<a href="http://bl.ocks.org/jkeohan/raw/ecd7167393230b8c7611/" target="_blank"><img src="images/nycair.jpg" alt="D3" style="width:100%"></a>
					</div><!--well project-->
				</div><!--col-->

				<div class="col-md-4">
					<div class="well project">
						<div class="row well-header">
							<h3 style="display:inline-block">Renewable Energy - Angular</h3> 
							<div class="code">
							<span> <a href="https://github.com/jkeohan/d3dashboards" target="_blank" class="btn btn-success" role="button">GitHub</a></span>
							</div><!--code-->
						</div>
						<br>
						<a href="/views/renewable_energy/index.html" target="_blank"><img src="images/renewable_angular.jpeg" alt="D3" style="width:100%"></a>
					</div>
				</div><!--col-->
			</div><!--row-->

			<div class="row">
				<div class="col-md-4">
					<div class="well project">
						<div class="row well-header">
							<h3 style="display:inline-block">Program Overview Dashboard</h3> 
							<div class="code">
							<span> <a href="https://github.com/jkeohan/d3dashboards" target="_blank" class="btn btn-success" role="button">GitHub</a></span>
							</div><!--code-->
						</div><!--row well header-->
						<br>
						<a href="http://d3dashboards.herokuapp.com/" target="_blank"><img src="images/progoverview.jpg" alt="D3" style="width:100%"></a>
					</div><!--well project-->
				</div><!--col-->

				<div class="col-md-4">
					<div class="well project">
						<div class="row well-header">
							<h3 style="display:inline-block">Dynamic Circles</h3> 
							<div class="code">
							<span> <a href="http://bl.ocks.org/jkeohan/186482e8ed4618d9272a" target="_blank" class="btn btn-success" role="button">GitHub</a></span>
							</div><!--code-->
						</div>
						<br>
						<a href="http://bl.ocks.org/jkeohan/raw/186482e8ed4618d9272a" target="_blank"><img src="images/circles.jpeg" alt="D3" style="width:100%"></a>
					</div>
				</div><!--col-->

				<div class="col-md-4">
						<div class="well project">
							<div class="row well-header">
								<h3 style="display:inline-block">Thank Heaven</h3> 
								<div class="code">
								<span> <a href="http://bl.ocks.org/jkeohan/raw/bfc333bde1120d74bfc4/" target="_blank" class="btn btn-success" role="button">GitHub</a></span>
								</div><!--code-->
							</div>
							<br>
							<a href="http://bl.ocks.org/jkeohan/raw/bfc333bde1120d74bfc4/" target="_blank"><img src="images/thankheaven.jpeg" alt="D3" style="width:100%"></a>
						</div>
					</div><!--col-->
			</div><!--row-->

			<div class="row">
				<div class="col-md-4">
					<div class="well project">
						<div class="row well-header">
							<h3 style="display:inline-block">CSS\HTML Wireframing</h3> 
							<div class="code">
							<span> <a href="http://bl.ocks.org/jkeohan/c9c62fedc6e5590ea166" target="_blank" class="btn btn-success" role="button">GitHub</a></span>
							</div><!--code-->
						</div>
						<br>
						<a href="http://bl.ocks.org/jkeohan/raw/c9c62fedc6e5590ea166" target="_blank"><img src="images/wireframe.jpeg" alt="D3" style="width:100%"></a>
					</div>
				</div><!--col-->
			</div><!--row-->

		</div><!--container-->


